<button onclick="history.back(-1)">Return to shop</button>
<h3>My shopping bag</h3>
<h3>Total: {{cost/100 | currency}}</h3>
<table ng-init="checkout()">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody ng-repeat="bagtea in bag">
    <tr>
      <td>
        <h3>{{bagtea.tea.name}}</h3><br>
        <img src="{{bagtea.tea.imageUrl}}"><br>
        <strong>Caffeine scale:</strong> {{bagtea.tea.caffeineScale}}<br>
        <strong>Ingredients:</strong> {{bagtea.tea.ingredients}}<br>
        <strong>Rating:</strong> {{bagtea.tea.rating}}<br>
      </td>
      <td>
        {{bagtea.quantity}}
      </td>
      <td>
        {{bagtea.quantity * bagtea.tea.price/100 | currency}}
      </td>
      <td>
        <button>Edit</button>
        <button>Remove</button>
      </td>
    </tr>
  </tbody>
</table>
