<!DOCTYPE html>
<html ng-app="myapp">
  <head>
    <meta charset="utf-8">
    <title>MEAN Tea Shopping Cart</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-controller="MainController" ng-cloak ng-init="initCategories()">
    <header>
      <p>Welcome to MEAN Tea!</p>
    </header>
    <main>
      <label>Search by category:
        <select ng-model="categorysearch.categories">
          <option ng-repeat="category in categories">{{category}}</option>
        </select>
      </label>
      <label>Search by name:
        <input type="text" ng-model="namesearch.name">
      </label>
      <button ng-click="checkout()" ng-show="bag.length === 0">Checkout | Bag: Empty</button>
      <button ng-click="checkout()" ng-show="bag.length > 0">Checkout | Bag: ({{bag.length}})</button>
      <table>
        <thead>
          <tr>
            <th>Tea</th>
            <th>
              Information
            </th>
              <th>
              <label>Sort by price:
                <select ng-model="sorter">
                  <option value="price">Lowest</option>
                  <option value="-price">Highest</option>
                </select>
              </label>
            </th>
          </tr>
        </thead>
        <tbody ng-repeat="tea in teas | filter:namesearch | filter:categorysearch | orderBy:sorter">
          <tr>
            <td>
              <img src="{{tea.imageUrl}}">
            </td>
            <td>
              <h3>{{tea.name}}</h3><br>
              <strong>Price:</strong> {{tea.price/100 | currency}}<br>
              <strong>Caffeine scale:</strong> {{tea.caffeineScale}}<br>
              <strong>Ingredients:</strong> {{tea.ingredients}}<br>
              <strong>Rating:</strong> {{tea.rating}}<br>
              <strong>In stock?</strong> {{tea.inStock}}<br>
              <strong>Categories:</strong>
              <ul ng-repeat="category in tea.categories">
                <li>{{category}}</li>
              </ul>
            </td>
            <td>
              <form>
                <select ng-model="quantity">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
                <button ng-click="addToBag(tea)">Add to bag</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
    <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/main_controller.js"></script>
  </body>
</html>
